

<app-modal></app-modal>
<app-header title="Biométrico"></app-header>
<app-menu></app-menu>
<alert></alert>

<section>


    <div class="row" style="margin-top: 14px;" >
      <div class="col-md-6 hidden-xs"  >
        <img src="../../../../assets/imagen/login.png" class="img-fluid">
      </div>


      <div class="col-md-4" style="margin-top: 14px;">




        <p>
          <button type="button" (click)="loginfiel()"  class="btn btn-default btn-lg">Firma electrónica</button>
        </p>
        <p>
          <button type="button" (click)="logincurp()"  class="btn btn-default btn-lg">CURP</button>
        </p>

        <p>
          <button type="button" (click)="logincredencial()"  class="btn btn-default btn-lg">Credencial</button>
        </p>

 <!--
        <p>
          <button type="button" (click)="loginpruebavida()"  class="btn btn-default btn-lg">Prueba de vida</button>
        </p>
      -->
      </div>

      <div class="col-md-2"  >
       &nbsp;
      </div>

  </div>

</section>
