


<section  >


    <div class="row" style="margin-top: 14px;" >
      <div class="col-md-5 hidden-xs"  >
        <img src="../../../../assets/imagen/login.png" class="img-fluid">
      </div>
            <div class="col-md-1">
        <a (click)="login()" style="margin-top: 14px;" class="btn btn-primary "><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
      </div>
      <div class="col-md-5">

      <div class="card-container" style="margin-top: 100px;">




          <div class="card">



          <div class="row">



          </div>

              <div class="row">

                <iframe id="formpruebavida" name="formpruebavida"  src="http://localhost:8000" width="850" height="500"  scrolling="yes" style="overflow:visible;" frameborder="0" ></iframe>



              </div>



          </div>





      </div>

    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
  </div>

</section>
